.menuButton {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #fff;
  border: 2px solid #6098eb;
  border-radius: 3px;
  padding: 3px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 1000;
}

.menuButton img {
  width: 25px;

  height: 25px;
}

.sideNav {
  display: flex;
  position: fixed;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
  background-color: #fff;
  padding-top: 30px;
  padding-left: 25px;
  height: 100vh;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

/* Логотип */
.logo {
  width: 100%;
  max-width: 100px;
  margin-bottom: 30px;
}

/* Список навигации */
.navigationList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* Элемент навигации */
.navigationItem {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
}

.navigationItem:last-of-type {
  margin-top: 100px;
}

.navigationItem:hover {
  background-color: #f0f0f0;
}

/* Активный элемент */
.active {
  font-weight: 700;
}

/* Ссылка внутри элемента */
.navigationLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
  border: none;
  background-color: #fff;
  cursor: pointer;
  font-size: 18px;
}

/* Иконка внутри элемента навигации */
.icon {
  margin-right: 16px;
}

.navigationItem:last-of-type .icon {
  border: 2px solid #b0b0b0;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 2px;
}

/* Стили для текста (названия разделов) */
.navigationLink span {
  font-weight: 500;
  font-size: 14px;
}

/* Для адаптивности */
@media (max-width: 768px) {
  .sideNav {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .sideNav {
    width: 180px;
  }

  .navigationItem {
    padding: 10px 15px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .sideNav {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .sideNav.active {
    transform: translateX(0);
  }

  .menuButton {
    display: block;
  }
}
