.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1200;
}

.modalContent {
  display: flex;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  max-width: 250px;
  width: 100%;
  flex-direction: column;
  padding: 20px;
}
.dialogButtons {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: space-around;
}

.dialogBtn {
  padding: 6px 17px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
}

.dialogBtn:hover {
  background-color: #efefef;
}

.dialogBtn:first-of-type {
  background-color: #0095f6;
  color: #fff;
}
.dialogBtn:first-of-type:hover {
  background-color: #007ace;
}
